body{
    background-image:url("https://o.aolcdn.com/images/dims?thumbnail=640%2C&quality=95&image_uri=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2Ft_lP6tcQ0CJbJTeV8mrV2g--%7EB%2FaD00OTA7dz05ODA7YXBwaWQ9eXRhY2h5b24-%2Fhttps%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F6623d5a6ae583f81ee3515b6b3615c7f%2F204855766%2Flandscape-1456483171-pokemon2.jpg&client=amp-blogside-v2&signature=9caaede705caa7d6cdaee28196bfefe03c5b1d3b") ;
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100vw;
        /* background-color: red; */
    }
    .well{
        height: 150px;
        width: 300px;
    }