<h1>Notes about characters </h1>

<% note.forEach(n=> { %>
    <li>
        <%=n.content %>
        <form method= "POST" action="/notes/:id/?_method=PUT">
            <input type="hidden" name="note">
            <input type="hidden" value= "<%= n.id %>">
            <button >Edit this note</button>
       
    </li>
<% }) %>

<a href="/characters/faves">Return to Favorited Characters</a>