<h1>Notes About Characters </h1>
<div class= "notes">
    <% note.forEach(n=> { %>
        <li>
            <%=n.content %>
            <div class="notes-button">
                <form method= "GET" action="/notes/<%= n.id %>/edit">
                    <input type="submit" value="Edit"  class= "edit"/>
                </form>
                <form method="POST" action="/notes/<%=n.id%>/?_method=DELETE">
                    <input type="submit" value="Delete" class= "delete">  
                </form>
            </div>
        </li>
    <% }) %>

</div>


<a href="/characters/faves">Return to Favorited Characters</a>