<h1>Notes about characters </h1>

<form method="POST" action="/notes/<%= createdNote.id %>/?_method=PUT">
    <input type="text" name="note" value="<%= createdNote.content %> ">
    <button type="submit">Edit

    </button>
</form>

<a href="/characters/faves">Return to Favorited Characters</a>