<h1>Edit notes here</h1>

<% note.forEach(n=> { %>
    <li>
        <%=n.content %>
        <form method= "POST" action="/notes/:id/?_method=PUT">
            <input type="text" name="note">
            <input type="hidden" value= "<%= n.id %>">
            <button >Update this note</button>
        </form>
    </li>
<% }) %>