<h1>Here are your favorite Rick and Morty Characters</h1>
<div>
    <%favorites.forEach(favoritePoke=>{%>
        <li>
        <%=favoritePoke.name %>
        <form method="POST" action="/pokemon/<%=favoritePoke.id%>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    </li>
    </div>
    <%})%>  
