<h1>Here are your favorite Rick and Morty Characters</h1>
<!-- <div>
<%favorites.forEach(favoritechar=>{%>
    <li>
    <%=favoriteChar.name %>
    <form method="POST" action="/faves/<%=favoriteChar.id%>/?_method=DELETE">
        <input type="submit" value="Delete">
    </form>
</li>
</div>
<%})%> -->